 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-6 mx-auto px-5 px-sm-10">
    <div class="mb-2">
        <h2>User info</h2>
    </div>
    
    <div><!--error--->
     <% if @user.errors.any? %>
      <%= @user.errors.count %>error prohibites this obj from being saved:
       <ul>
        <%= @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
       </ul>
     <% end %>
    </div><!---error---->
    
    <div class="form">
        <div class="form-group">
           <%= form_with model: @user do |f| %>
               <div>
                 <label for="inputName">Name</label><br>
                 <%= f.text_field :name, class: "form-control", id:"inputName", style: "width:100%" %>
               </div>
               <div class="my-3">
                 <label for="inputImage">Image</label><br>
                 <%= f.file_field :profile_image, class: "form-control-file", id:"inputImage", accept: "image/*"%>
            
               </div>
               <div>
               <label for="inputIntroduction">Introduction</label><br>
                 <%= f.text_area :introduction, class: "form-control", value: "", style: "width:100%" %>
               </div>
               <div>
                <%= f.submit 'Update User', class: 'btn btn-secondary mt-3' %>
               </div>
           <% end %>
        </div><!-- form-group--->
     </div><!---form----->
    </div><!--col--->
  </div><!--row-->
</div><!--container---->
    
  
  </div>