<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
     <%= render partial: 'info', locals: { user: @user } %>
     
     
     <%= render partial: 'books/form', locals: { book: @book } %>
    </div>
 
    
 
 
    <div class="col-md-8 offset-md-1">
      <div class="mb-2">
        <h2>Users</h2>
      </div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>image</th>
                <th>name</th>
                <th></th>
              </tr>
            </thead>
            <% @users.each do |user| %>
            <tbody>
            <tr>
                <td><%= image_tag user.get_profile_image(80,80) %></td>
                <td><%= user.name %></td>
                <td><%= link_to 'Show', user_path(user.id) %></td>
            </tr>
            </tbody>
            <% end %>
        </table>
    </div>
  </div><!--row--->
</div><!---container--->