<div class="container px-5 px-sm-0">
  <div class="row"> 
    <div class="col-md-3">
        <%= render partial: 'users/info', locals: { user: @user } %>
        
        <%= render partial: 'form', locals: { book: @new_book } %>
    </div>
 
    <div class="col-md-8 offset-md-1">
        <div class="mb-2">
            <h2>Book detail</h2>
        </div><table class="table">
            <tbody>
                <tr>
                    <td> 
                        <%= link_to user_path(@user.id) do %>
                           <%= image_tag @book.user.get_profile_image(100,100) %><br>
                           <%= @book.user.name %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to book_path(@book.id) do %>
                           <%= @book.title %>
                        <% end %>
                    </td>
                    <td><%= @book.body %></td>
                    <% if @book.user == current_user %>
                       <td><%= link_to 'Edit', edit_book_path, class: "btn btn-success" %></td>
                       <td><%= link_to 'Destroy', book_path(@book.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                    <% end %>
                </tr>
            </tbody>
        </table>
    </div><!--right-content--->
   </div><!--row--->
 </div><!--container--->